<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641614266615-p2r34csmagbf6icv9lk5urmffo4r4mis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641614266615-p2r34csmagbf6icv9lk5urmffo4r4mis</string>
	<key>API_KEY</key>
	<string>AIzaSyB5K-PeUIin6fPl1BZ4d5iSPUtUHwkEGok</string>
	<key>GCM_SENDER_ID</key>
	<string>641614266615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coviid.verifier</string>
	<key>PROJECT_ID</key>
	<string>coviid-30f78</string>
	<key>STORAGE_BUCKET</key>
	<string>coviid-30f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641614266615:ios:343c07cd674e92de6cd3f2</string>
	<key>DATABASE_URL</key>
	<string>https://coviid-30f78.firebaseio.com</string>
</dict>
</plist>