<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313976267521-1id0lsbf29mu1lr2v5sl634u8bbbtonc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313976267521-1id0lsbf29mu1lr2v5sl634u8bbbtonc</string>
	<key>API_KEY</key>
	<string>AIzaSyBsmdfOlGpzG5fg7ifUOzFaE3fV69uHPp0</string>
	<key>GCM_SENDER_ID</key>
	<string>313976267521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thedelta.io.coviid.nick</string>
	<key>PROJECT_ID</key>
	<string>coviidnick</string>
	<key>STORAGE_BUCKET</key>
	<string>coviidnick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:313976267521:ios:8bbc59e8a1ffec1f513100</string>
	<key>DATABASE_URL</key>
	<string>https://coviidnick.firebaseio.com</string>
</dict>
</plist>
